body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
    line-height: 60%;
    text-align: center;
    color: white;
}
.orange-color{
    color: chocolate;
}
.help{
    text-align: center;
    line-height: 80%;
    color: white;
    font-weight:10px;
    }

.top-banner{
    background-image: url(images/donation13.jpg);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 150px 0;
    width:100%;
    
}
.link-button{
    text-decoration: none;
    padding:10px 20px;
    border-radius: 5px;
    background-color:tomato;
    margin:599px;
    margin-inline-end:10px;
   
}


.donate-now{
color:black;

}
.donate{
    color:black;
    line-height: 60%;
    text-align: center;
   
}
.donate-today{
    margin: 100px;
}
#black{
    color:black;
    display: flex;
}
.taka{
background-color:#ddc3c3;
height: 100px;
width:100px;
float: left;
text-align: center;
margin: 20px;
font-size: 25px;
padding: 10px;
font-display: ;
border-radius: 5px;
}

.my-div{
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 20px;
    line-height: 100px;
    
 }   
 #border{
    border: 2px solid tomato;
    border-radius: 5px;
 }          
 .amount{
    text-align: center;
    font-size: 20px;
    line-height: 80px;
    color: rgb(78, 187, 190);
}
.line{
    position: absolute;
    width: 800px;
    height: 1px;
    left: 270px;
    top: 1100.5px;
    }

.donate-taka{
    text-decoration: none;
    padding:10px 20px;
    border-radius: 5px;
    background-color:tomato;
    text-align:center;
    margin:490px;
    }
    .margin{
        margin-top: 10%;
    }
                
.margin-bottom{
    margin-top: 5%;
    display: flex;
    text-align: center
    width:auto;
    justify-content:center;

    
}
.team{
  background-color: rgba(255, 89, 89, 0.1);  
  margin: 12px;
  margin-bottom: 50px;
  width: 330px;
  height: 352px;
  text-align: center;
  border-radius: 5px;


}
.team.team h3{
    margin-top:15px;
    text-align: left;
    font-size:25px;
}
.team.team p{
    text-align: left;
}
.icon{
    margin-top:80px;
    margin-right:70%;
}
#change-color{
    background-color:cornsilk;
}


.depend-on{
    margin-top:-10px;
}
.four{
    
    display: flex;
    width: auto;
    padding: 140px;
    margin: 50px;
    margin-left: 20px;
 
}
 .four h2 {
    color: black;
    text-align: left;
    font-size: 40px;
    line-height: 30px;
 }
 
.four p{
    line-height:15px
}  
.one-taka{
    height: 480px;
    width: 460px;

}
.contribute{
    text-decoration: none;
    padding: 10px 40px;
    background-color:tomato;
    border-radius: 5px;
    
    
}
 

    
    

.five-new {
   display: flex;
   padding: 130px;
   margin: 20px;
   margin-left: 40px;
}
.five-new h2{
    color: black;
    text-align: left;
    font-size: 40px;
    line-height: 30px;
}
.two-team{
    padding: 80px; 
}
.five{
    
   margin-top:-190px;
}
.updates{
font-size: 50px;
line-height: 60%;
text-align: center;
color: rgb(44, 11, 11);
}
.last{
    text-align: center;
}
.box{
    display: flex;
    justify-content: center;
    height: 100px;
}
.form-box{
    padding: 90px 350px;
    background:blue;
    box-sizing: content-box;
}
 
 

 

  
 
  



    



 

    
