@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    
    
}
h1{
    font-size: 50px;
    line-height: 60%;
    text-align: center;
    color: white;
}
.orange-color{
    color: chocolate;
}
.help{
    text-align: center;
    line-height: 80%;
    color: white;
    font-weight:10px;
    }

.top-banner{
    background-image: url(images/donation13.jpg);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 150px 0;
    width:100%;
    
}
.link-button{
    text-decoration: none;
    padding:10px 20px;
    border-radius: 5px;
    background-color:tomato;
    margin:599px;
    margin-inline-end:10px;
   
}


.donate-now{
color:black;

}
.donate{
    color:black;
    line-height: 60%;
    text-align: center;
   
}
.donate-today{
    margin: 100px;
}
#black{
    color:black;
    display: flex;
}
.taka{
background-color:#ddc3c3;
height: 100px;
width:100px;
float: left;
text-align: center;
margin: 20px;
font-size: 25px;
padding: 10px;
font-display: ;
border-radius: 5px;
}

.my-div{
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 20px;
    line-height: 100px;
    
 }   
 #border{
    border: 2px solid tomato;
    border-radius: 5px;
 }          
 .amount{
    text-align: center;
    font-size: 20px;
    line-height: 80px;
    color: rgb(78, 187, 190);
}
.line{
    position: absolute;
    width: 800px;
    height: 1px;
    left: 270px;
    top: 1100.5px;
    }

.donate-taka{
    text-decoration: none;
    padding:10px 20px;
    border-radius: 5px;
    background-color:tomato;
    text-align:center;
    margin:490px;
    }
    .margin{
        margin-top: 10%;
    }
                
.margin-bottom{
    margin-top: 5%;
    display: flex;
    text-align: center
    width:auto;
    justify-content:center;

    
}
.team{
  background-color: rgba(255, 89, 89, 0.1);  
  margin: 12px;
  margin-bottom: 50px;
  width: 330px;
  height: 352px;
  text-align: center;
  border-radius: 5px;


}
.team.team h3{
    margin-top:15px;
    text-align: left;
    font-size:25px;
}
.team.team p{
    text-align: left;
}
.icon{
    margin-top:80px;
    margin-right:70%;
}
#change-color{
    background-color:cornsilk;
}


.depend-on{
    margin-top:30px;
}
.four{
    
    display: flex;
    width: auto;
    padding: 120px;
    margin: 30px;
    margin-left: 20px;
    line-height: 50px;
    
    
 
}
.four{
    margin-top: -80px;
}
 .four h2 {
    color: black;
    text-align: left;
    font-size: 40px;
    line-height: 30px;
 }
 
.four p{
    line-height:20px;
}  

.contribute{
    text-decoration: none;
    padding: 10px 40px;
    background-color:tomato;
    border-radius: 5px;
    
    
    
}

.one-taka{
    height: 480px;
    width: 460px;
    margin: 40px;
    margin-top: -30px;
}

    
    

.five-new {
   display: flex;
   padding: 100px;
   margin: 20px;
   margin-left: 0;
}
.five-new h2{
    color: black;
    text-align: left;
    font-size: 40px;
    line-height: 30px;
}
.two-team{
    padding: 80px; 
}
.five{
    
   margin-top:-180px;
}



.updates{
font-size: 50px;
line-height: 90px;
text-align: center;
color: rgb(44, 11, 11);
}
.last{
    text-align: center;
}

  
 
  .container{
    text-align: center;
    color:rgb(62, 209, 72);
    padding: 100px 60px ;
    background-color: rgba(146, 79, 79, 0.1);  
  margin: 300px;
  margin-bottom: 40px;
  width: 630px;
  height: 20px;
  text-align: center;
  border-radius: 5px;
  margin-top: 40px;


  }
  .email-box{
    height: 40px;
    display: flex;
    justify-content: center;
  }
  
  
  .tbox{
    outline: 260px;
    padding: 0 25px;
   
  }
    
  .btn{
    background:#2f3542;
    color:white;
    padding: 0 40px;
    
}
.six{
    margin-top: -80px;
}



.be{
    color: rgb(93, 139, 79);
    text-align: center;
    padding: 50px 15px;
    font-family: 'Lobster', cursive;
    margin-top: 80px;
    margin-bottom: 0px;
    
    font-size:xx-large;
    font-weight: 200;
    
   

    
 }
.black{
    background-color: #0B0D17;;
}
.gonna{
    text-align: center;
    color:cadetblue;
    line-height: 30px;
    
}
