body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
    line-height: 60%;
    text-align: center;
    color: white;
}
.orange-color{
    color: chocolate;
}
h3{
    text-align: center;
    line-height: 60%;
    color: white;
    font-weight:10px;
}
.top-banner{
    background-image: url(images/donation13.jpg);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 150px 0;
}
.link-button{
    text-decoration: none;
    text-align: center;
}
 

    
